/* short-hand syntax: top | right | bottom | left */

#anchor {
  color: white;
  padding: 0px 15px;
  font-size: 22px;
}
#anchor:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}
#anchorHome:hover {
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #ff7a00;
}
#anchorHome {
  color: black;
  padding: 0px 15px;
  font-size: 22px;
}
#contact {
  width: 50%;
  height: 35%;
  border-width: 0;
  font-size: 22px;
  background-color: white;
  color: #ff7a00;
  margin-left: 10px;
  padding: 4px 15px;
  border-radius: 10px 0px;
}
#contactHome {
  width: 50%;
  border-width: 0;
  font-size: 22px;
  background-color: #ff7a00;
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px 0px;
  text-align: center;
}

.servicesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffe7d1;
  padding: 20px 0px;
}

#heading {
  font-size: 55px;
  font-weight: 600;
  color: #ff7a00;
}
#headingHome {
  color: #000000;
  line-height: 45px;
  font-size: 34px;
  font-weight: 600;
}
p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

.services {
  margin: 0px 30px;
  border-radius: 20px 0px;
}

.serviceImage {
  margin: 50px 60px;
}

#pfcardtitle {
  font-size: 24px;
  font-weight: 600;
}
#pfcarddescription {
  font-size: 20px;
  line-height: 21px;
  text-align: left;
  font-weight: 200;
}
#cardtitle {
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 600;
}
#carddescription {
  padding: 10px 45px;
  line-height: 38px;
  font-size: 24px;
  font-weight: 400;
}

.newsletterContainer {
  background-color: #ffe7d1;
  padding: 60px 80px;
  margin: 70px 50px;
  border-radius: 30px 0px;
}

#newsletterRow {
  justify-content: space-evenly;
  align-items: center;
}
#newsletterImage {
  justify-content: center;
}
#nlTitle {
  color: #ff7a00;
  text-align: left;
  font-size: 36px;
  font-weight: 600;
}
#nlDesciption {
  color: #89684b;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
img {
  object-fit: contain;
}
#submit {
  font-size: 22px;
  border-width: 0;
  width: 100%;
  background-color: #ff7a00;
  color: #ffffff;
  padding: 4px 15px;
  border-radius: 10px 0px;
}
#rowItems {
  justify-content: center;
  align-items: center;
}
#rowItemsHome {
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
#colItemsHome {
}

#cebterTitle {
  text-align: center;
  padding: 50px 0px;
  font-size: 28px;
}

#stripText {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

#contactHeading {
  color: #ff7a00;
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  #collapse_navbar {
    color: black;
    font-size: 22px;
  }
  #collapse_navbar:hover {
    text-decoration: none;
  }
  #colItems {
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  #collapse_navbar {
    color: black;
    font-size: 22px;
  }
  #collapse_navbar:hover {
    text-decoration: none;
  }
  #colItems {
    text-align: center;
  }
}
@media only screen and (max-width: 340px) {
  #collapse_navbar {
    color: black;
    font-size: 22px;
  }
  #collapse_navbar:hover {
    text-decoration: none;
  }
  #colItems {
    text-align: center;
  }
}
